.title-list-card {
  font-size: 22px;
  color: #cf1717;
  line-height: 20px;
  font-weight: 600;
  padding: 5px;
}
.list-card-item {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background: #fff;
}