<div class="cart-item-container">
  <div class="cart-item-box">
    <div class="card-item-label">
      <b>33%</b>
    </div>
    <div class="card-item-image">
      <img [src]="image" />
    </div>
    <div class="card-item-detail">
      <div class="card-item-link">Product name Product nam Product nam</div>
      <div class="card-item-price">
        <strong>1.000.000₫</strong>
        <span class="linethough">520.000₫</span>
        <label class="discount">(-40%)</label>
      </div>
    </div>
  </div>
  <div class="list-rating">
    <span><b>4.1</b>/5</span>
    <span class="sl-rating">16 đánh giá</span>
  </div>
</div>
