<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar
      showCancelButton="focus"
      placeholder="Search"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="app-home-bg">
  <ion-slides pager="true" [options]="sliderOption">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
  <app-category-menu-image></app-category-menu-image>
  <app-list-card-item></app-list-card-item>
</ion-content>
